<!DOCTYPE html>
<html>
    <head>
        <title>View Created Tracks</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/hunter_styles.css">
    </head>

    <body style="text-align:center;background: url('/images/University_of_Exeter_hunters.jpg') no-repeat top fixed; background-size: cover;">
        <h1 class="title">Welcome Hunters</h1>
        <div  class="track_div">
            <h2 class="track_title">Track 1</h2>
            <svg viewbox="0 0 100 100">
                <% for (i=0, len = challenges, y=100/(challenges+1); i<len; i++) { %>
                    <% if(i%2==0) { %>
                        <circle cx="25" cy="<%= y*(i+1) %>" r="2" stroke="black" stroke-width="2" />
                        <% if(i!=(challenges-1)) { %>
                            <path d="m25 <%= y*(i+1) %> l50 <%= y %>" stroke="black" stroke-width="2"/>
                        <% } %>
                    <% } else { %>
                        <circle cx="75" cy="<%= y*(i+1) %>" r="2" stroke="black" stroke-width="2" />
                        <% if(i!=(challenges-1)) { %>
                            <path d="m75 <%= y*(i+1) %> l-50 <%= y %>" stroke="black" stroke-width="2"/>
                        <% } %>
                    <% } %>
                    <!---<path d="m25 20 l50 20" stroke="black" stroke-width="2"/>
                    <path d="m75 40 l-50 20" stroke="black" stroke-width="2"/>
                    <path d="m25 60 l50 20" stroke="black" stroke-width="2"/>
                    <circle cx="25" cy="20" r="4" stroke="black" fill="black"/>
                    <circle cx="75" cy="40" r="4" stroke="black" fill="black"/>
                    <circle cx="25" cy="60" r="4" stroke="black" fill="black"/>
                    <circle cx="75" cy="80" r="4" stroke="black" fill="black"/> --->
                <% } %>
                
            </svg>
        </div>
    </body>
</html>