<!DOCTYPE html>
<html lang="en">
    <head>   
        <title>View Leaderboards</title>
        <!-- Latest compiled CSS -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/leaderboard_style.css">
        <link rel="stylesheet" href="stylesheets/dots_background.css"/>
        <% include partials/ReturnButton.ejs %>
    </head>
    <body>
        <!-- Style page -->
        <canvas style="z-index: -1"id="canvas1"></canvas>
        <h1 class="title">View Leaderboards</h1>
        <div class="leaderboardStyling">
            <!-- Populate table "creatortable" -->
            <table class="creatortable">
                <tr>
                    <th>Rank</th><th>Name</th><th>Track Creator</th><th>Rating</th>
                </tr>
                <% var i = 0 %>
                <% tracks.forEach(function(track) { i++;%>
                <tr>
                    <td><%= i %></td>
                    <td><%= track.name %></td>
                    <td><%= track.creator %></td> 
                    <td><%= track.track_ranking %></td>
                </tr>
            <% }) %>
        </table>
        <br>
            <!-- Populate table "huntertable" -->
            <table class="huntertable">
                <tr>
                    <th>Rank</th><th>Hunter</th><th>Number of Tracks Completed</th>
                </tr>
                <% var j = 0 %>
                <% users.forEach(function(user) { j++;%>
                <tr>
                    <td><%= j %></td>
                    <td><%= user.username %></td>
                    <td><%= user.track_hunter_ranking %></td>
                </tr>
            <% }) %>
        </table>
    </body>
    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="/javascripts/dots_background.js"></script>
    <% include partials/ReturnButton.ejs %>
</html>