<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View Leaderboards</title>
    </head>

    <body style="text-align:center;background: url('/images/exerterbanner.jpg') no-repeat top fixed; background-size: cover;">
        <h1 class="title" style="font-size: 3vw;">View Leaderboards</h1>
        <div class="back_div bd_view">
            <% tracksTable.forEach(function(track) { %>
            
            <div class="tracklist">
                <p>Track Name: <%= track.name %> Creator: <%= track.creator %> Track Ranking: <%= track.track_ranking %></p>
            </div>
        <% }) %>
        <br>
            <% usersTable.forEach(function(user) { %>
            
            <div class="userslist">
                <p>Name: <%= user.username %> hunterRanking: <%= user.track_hunter_ranking %></p>
            </div>
        <% }) %>
        </div>
    </body>
</html>